[flake8]
max-line-length = 88
extend-ignore = E203,E501,W291,W292,W293,W391,E302,E303,E301,F403
exclude =
    .git,
    __pycache__,
    .venv,
    .pytest_cache,
    *.egg-info
per-file-ignores =
    __init__.py: F401
